@import "compass/reset";
@import "compass/css3";
@import "compass/typography/links/link-colors";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/sprites/base";
@import "compass/css3/user-interface";
$blue: red;
// keyframes mixin
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
} 
body, html {
    padding: 0; margin:0;
    font-family: '微軟正黑體';
    $silver: lighten($blue, 45%);
    $r: lighten(orange, 40%); $g: lighten(#DFD, 0%); $b: lighten(blue, 45%);
    $white: white;
    background-color:$silver;
    background-image: 
    radial-gradient(circle at 100% 150%, $g 24%, $white 25%, $white 28%, $r 29%, $r 36%, $white 36%, $white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, $g 24%, $white 25%, $white 28%, $r 29%, $r 36%, $white 36%, $white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, $white 10%, $b 11%, $b 23%, $white 24%, $white 30%, $g 31%, $g 43%, $white 44%, $white 50%, $r 51%, $r 63%, $white 64%, $white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, $white 5%, $b 6%, $b 15%, $white 16%, $white 20%, $g 21%, $g 30%, $white 31%, $white 35%, $r 36%, $r 45%, $white 46%, $white 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, $white 5%, $b 6%, $b 15%, $white 16%, $white 20%, $g 21%, $g 30%, $white 31%, $white 35%, $r 36%, $r 45%, $white 46%, $white 49%, transparent 50%, transparent);
    background-size:100px 50px;
    color: darken($blue, 20%);
}
body.scratching {
    .remote-draw-button, .draw-result {
        display: none;
    }
    .guagua-card {
        display: block;
    }
}
.remote-draw-title {
    color: red;
    font-size: 36px;
    text-shadow: 0 -1px 0 black;
    text-align: center;
    margin: 20px 0;
}
.remote-draw-button {
    $red: #FF0000;
    @include user-select(none);
    transition: margin-left 0.1s ease-out, margin-top 0.1s ease-out, box-shadow 0.1s ease-out;
    border: 3px solid black;
    text-align: center;
    position: absolute;
    left: 50%; top: 40%;
    margin-left: -150px;
    margin-top: -150px;
    padding: 100px;
    width: 300px;height: 300px;
    line-height: 300px;
    border-radius: 300px;
    background-color: $red;
    text-shadow: 0 -1px 0 black, 
    0 0 5px pink,
    0 0 5px pink,
    0 0 5px pink,
    0 0 5px pink,
    0 0 5px pink
    ;
    color: white;
    background-image: linear-gradient(180deg, rgba(lighten(brown , 40%), 0.8), rgba(brown, 0.4) 30%, rgba(brown, 0.7));
    padding: 5px;
    font-size: 120px;
    box-shadow: 2px 2px 0 red inset, 4px 4px 0 white inset,  -2px -2px 0 $red inset, -10px -10px 30px darken(red, 30%) inset, 10px 10px 30px rgba(brown, 1);
    &:active {
        transition: none;
        background-image: linear-gradient(180deg, rgba(lighten(brown , 20%), 0.5), rgba(brown, 0.6) 30%, rgba(brown, 0.3));
        box-shadow: 2px 2px 0 red inset, 4px 4px 0 white inset,  -2px -2px 0 $red inset, -10px -10px 30px darken(red, 30%) inset, 5px 5px 20px rgba(brown, 1);
        background-color: gold;
        margin-left: -130px;
        margin-top: -130px;
    }
    &:after {
        content: '請按按鈕';
        font-size: 0.5em;
        color: black;
        display: block;
        text-align: center;
        height: 1em;
    }
}
.guagua-card {
    @include user-select(none);
    display: none;
    text-align: center;
    line-height: 160px;
    color: black;
    position: relative;
    border: 15px solid darken(red, 30%);
    box-shadow: 0 0 10px black;
    width: 640px; height: 480px;
    margin: 100px auto;
    $color1: white;
    $color2: rgba(darken(red, 30%), 0.1);
    $color3: hsla(5, 53%, 63%, 0);
    $color4: hsla(5, 53%, 63%, 0.5);
    $color5: hsla(197, 62%, 11%, 0);
    $color6: hsla(35, 91%, 65%, 0.5);
    $color7: hsla(35, 91%, 65%, 0);
    background-color: $color1;
}
.guagua-canvas {
    cursor: url(http://i.imgur.com/7ZGwfbu.png) 32 32, auto;
    position: absolute;
    left: 0; top: 0;
}
.guagua-img {
    display: none;
}
.drawmode-group {
    font-size: 84px;
    &[data-group-length="7"] {
        font-size: 70px;
    }
    &[data-group-length="8"] {
        font-size: 65px;
    }
    &[data-group-length="9"] {
        font-size: 60px;
    }
    &[data-group-length="10"] {
        font-size: 55px;
    }
    &[data-group-length="11"] {
        font-size: 50px;
    }
    &[data-group-length="12"] {
        font-size: 45px;
    }
}
.drawmode-sn, .drawmode-name {
    font-size: 128px;
}
.drawmode-sn {
    font-family: 'courier new';
    font-weight: bold;
    text-shadow: 
        1px 1px 0 yellow,
        -1px 1px 0 yellow,
        1px -1px 0 yellow,
        -1px -1px 0 yellow;
}

//確認連線狀態用的
@include keyframes(signal){
    0% { opacity: 1; } 100% { opacity: 0; }
}
@include keyframes(signal2){
    0% { opacity: 1; } 100% { opacity: 0; }
}
@include keyframes(signal2){
    0%, 80% { opacity: 1; } 100% { opacity: 0; }
}
.draw-result {
    @include user-select(none);
    opacity: 0;
    font-size: 72px;
    text-align: right;
    color: black;
    position: absolute;
    top: -30px; right: 0;
    -webkit-animation: signal 5s 1;
            animation: signal 5s 1;
    &.pong {
        -webkit-animation: signal2 5s 1;
                animation: signal2 5s 1;
    }
    &:before {
        content: '前次結果';
        font-size: 24px; letter-spacing: 20px;
        line-height: 24px;
        color: gray;
    }
}
/*
.pokemon-area {
    display: none;
    background: red;
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    .pokemoning & {
        display: block;
    }
}
*/
.ping {
    @include user-select(none);
    .vring & {
        display: none;
    }
    opacity: 0.2;
    font-size: 16px;
    position: absolute;
    right: 0; bottom: 0px;
    padding-left: 100px;
    z-index: 1000;
    color: pink;
    font-size: 40px;
    -webkit-animation: signal 1s 1;
            animation: signal 1s 1;
    &.pong {
        -webkit-animation: signal2 1s 1;
                animation: signal2 1s 1;
    }
}
@import "vr.scss";
@import "vr.mobile.scss";
