@charset "UTF-8";
/* line 5, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/remote_draw.scss */
body, html {
  padding: 0;
  margin: 0;
  font-family: '微軟正黑體';
  background-color: #ffe5e5;
  background-image: radial-gradient(circle at 100% 150%, #ddffdd 24%, #ffffff 25%, #ffffff 28%, #ffedcc 29%, #ffedcc 36%, #ffffff 36%, #ffffff 40%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0)), radial-gradient(circle at 0 150%, #ddffdd 24%, #ffffff 25%, #ffffff 28%, #ffedcc 29%, #ffedcc 36%, #ffffff 36%, #ffffff 40%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0)), radial-gradient(circle at 50% 100%, #ffffff 10%, #e5e5ff 11%, #e5e5ff 23%, #ffffff 24%, #ffffff 30%, #ddffdd 31%, #ddffdd 43%, #ffffff 44%, #ffffff 50%, #ffedcc 51%, #ffedcc 63%, #ffffff 64%, #ffffff 71%, rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0)), radial-gradient(circle at 100% 50%, #ffffff 5%, #e5e5ff 6%, #e5e5ff 15%, #ffffff 16%, #ffffff 20%, #ddffdd 21%, #ddffdd 30%, #ffffff 31%, #ffffff 35%, #ffedcc 36%, #ffedcc 45%, #ffffff 46%, #ffffff 49%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), radial-gradient(circle at 0 50%, #ffffff 5%, #e5e5ff 6%, #e5e5ff 15%, #ffffff 16%, #ffffff 20%, #ddffdd 21%, #ddffdd 30%, #ffffff 31%, #ffffff 35%, #ffedcc 36%, #ffedcc 45%, #ffffff 46%, #ffffff 49%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
  background-size: 100px 50px;
  color: #990000;
}

/* line 35, ../sass/remote_draw.scss */
body.scratching .remote-draw-button, body.scratching .draw-result {
  display: none;
}
/* line 38, ../sass/remote_draw.scss */
body.scratching .guagua-card {
  display: block;
}

/* line 42, ../sass/remote_draw.scss */
.remote-draw-title {
  color: red;
  font-size: 36px;
  text-shadow: 0 -1px 0 black;
  text-align: center;
  margin: 20px 0;
}

/* line 49, ../sass/remote_draw.scss */
.remote-draw-button {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: margin-left 0.1s ease-out, margin-top 0.1s ease-out, box-shadow 0.1s ease-out;
  border: 3px solid black;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -150px;
  margin-top: -150px;
  padding: 100px;
  width: 300px;
  height: 300px;
  line-height: 300px;
  border-radius: 300px;
  background-color: #FF0000;
  text-shadow: 0 -1px 0 black, 0 0 5px pink, 0 0 5px pink, 0 0 5px pink, 0 0 5px pink, 0 0 5px pink;
  color: white;
  background-image: linear-gradient(180deg, rgba(235, 176, 176, 0.8), rgba(165, 42, 42, 0.4) 30%, rgba(165, 42, 42, 0.7));
  padding: 5px;
  font-size: 120px;
  box-shadow: 2px 2px 0 red inset, 4px 4px 0 white inset, -2px -2px 0 #FF0000 inset, -10px -10px 30px #660000 inset, 10px 10px 30px brown;
}
/* line 76, ../sass/remote_draw.scss */
.remote-draw-button:active {
  transition: none;
  background-image: linear-gradient(180deg, rgba(214, 95, 95, 0.5), rgba(165, 42, 42, 0.6) 30%, rgba(165, 42, 42, 0.3));
  box-shadow: 2px 2px 0 red inset, 4px 4px 0 white inset, -2px -2px 0 #FF0000 inset, -10px -10px 30px #660000 inset, 5px 5px 20px brown;
  background-color: gold;
  margin-left: -130px;
  margin-top: -130px;
}
/* line 84, ../sass/remote_draw.scss */
.remote-draw-button:after {
  content: '請按按鈕';
  font-size: 0.5em;
  color: black;
  display: block;
  text-align: center;
  height: 1em;
}

/* line 93, ../sass/remote_draw.scss */
.guagua-card {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: none;
  text-align: center;
  line-height: 160px;
  color: black;
  position: relative;
  border: 15px solid #660000;
  box-shadow: 0 0 10px black;
  width: 640px;
  height: 480px;
  margin: 100px auto;
  background-color: white;
}

/* line 113, ../sass/remote_draw.scss */
.guagua-canvas {
  cursor: url(http://i.imgur.com/7ZGwfbu.png) 32 32, auto;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 118, ../sass/remote_draw.scss */
.guagua-img {
  display: none;
}

/* line 121, ../sass/remote_draw.scss */
.drawmode-group {
  font-size: 84px;
}
/* line 123, ../sass/remote_draw.scss */
.drawmode-group[data-group-length="7"] {
  font-size: 70px;
}
/* line 126, ../sass/remote_draw.scss */
.drawmode-group[data-group-length="8"] {
  font-size: 65px;
}
/* line 129, ../sass/remote_draw.scss */
.drawmode-group[data-group-length="9"] {
  font-size: 60px;
}
/* line 132, ../sass/remote_draw.scss */
.drawmode-group[data-group-length="10"] {
  font-size: 55px;
}
/* line 135, ../sass/remote_draw.scss */
.drawmode-group[data-group-length="11"] {
  font-size: 50px;
}
/* line 138, ../sass/remote_draw.scss */
.drawmode-group[data-group-length="12"] {
  font-size: 45px;
}

/* line 142, ../sass/remote_draw.scss */
.drawmode-sn, .drawmode-name {
  font-size: 128px;
}

/* line 145, ../sass/remote_draw.scss */
.drawmode-sn {
  font-family: 'courier new';
  font-weight: bold;
  text-shadow: 1px 1px 0 yellow, -1px 1px 0 yellow, 1px -1px 0 yellow, -1px -1px 0 yellow;
}

@-webkit-keyframes signal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes signal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes signal2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes signal2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes signal2 {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes signal2 {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 165, ../sass/remote_draw.scss */
.draw-result {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0;
  font-size: 72px;
  text-align: right;
  color: black;
  position: absolute;
  top: -30px;
  right: 0;
  -webkit-animation: signal 5s 1;
  animation: signal 5s 1;
}
/* line 175, ../sass/remote_draw.scss */
.draw-result.pong {
  -webkit-animation: signal2 5s 1;
  animation: signal2 5s 1;
}
/* line 179, ../sass/remote_draw.scss */
.draw-result:before {
  content: '前次結果';
  font-size: 24px;
  letter-spacing: 20px;
  line-height: 24px;
  color: gray;
}

/*
.pokemon-area {
    display: none;
    background: red;
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    .pokemoning & {
        display: block;
    }
}
*/
/* line 197, ../sass/remote_draw.scss */
.ping {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.2;
  font-size: 16px;
  position: absolute;
  right: 0;
  bottom: 0px;
  padding-left: 100px;
  z-index: 1000;
  color: pink;
  font-size: 40px;
  -webkit-animation: signal 1s 1;
  animation: signal 1s 1;
}
/* line 199, ../sass/remote_draw.scss */
.vring .ping {
  display: none;
}
/* line 212, ../sass/remote_draw.scss */
.ping.pong {
  -webkit-animation: signal2 1s 1;
  animation: signal2 1s 1;
}

@-webkit-keyframes vr_arrow {
  0%,10%,60%,100% {
    border-bottom-color: rgba(255, 255, 0, 0.6);
  }
  35% {
    border-bottom-color: rgba(255, 255, 0, 0.8);
  }
}
@keyframes vr_arrow {
  0%,10%,60%,100% {
    border-bottom-color: rgba(255, 255, 0, 0.6);
  }
  35% {
    border-bottom-color: rgba(255, 255, 0, 0.8);
  }
}
@-webkit-keyframes vr_arrow2 {
  0%,30%,80%,100% {
    border-bottom-color: rgba(255, 255, 0, 0.6);
  }
  55% {
    border-bottom-color: rgba(255, 255, 0, 0.8);
  }
}
@keyframes vr_arrow2 {
  0%,30%,80%,100% {
    border-bottom-color: rgba(255, 255, 0, 0.6);
  }
  55% {
    border-bottom-color: rgba(255, 255, 0, 0.8);
  }
}
@-webkit-keyframes vr_arrow3 {
  0%,50%,100% {
    border-bottom-color: rgba(255, 255, 0, 0.6);
  }
  75% {
    border-bottom-color: rgba(255, 255, 0, 0.8);
  }
}
@keyframes vr_arrow3 {
  0%,50%,100% {
    border-bottom-color: rgba(255, 255, 0, 0.6);
  }
  75% {
    border-bottom-color: rgba(255, 255, 0, 0.8);
  }
}
@-webkit-keyframes vr_focus {
  0% {
    box-shadow: 0 0 0 2px transparent inset, 0 0 0 4px transparent inset, 0 0 0 6px transparent inset, 0 0 0 8px transparent inset, 0 0 0 10px transparent inset;
  }
  20% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1) inset, 0 0 0 4px transparent inset, 0 0 0 6px transparent inset, 0 0 0 8px transparent inset, 0 0 0 10px transparent inset;
  }
  40% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1) inset, 0 0 0 4px rgba(255, 0, 0, 0.1) inset, 0 0 0 6px transparent inset, 0 0 0 8px transparent inset, 0 0 0 10px transparent inset;
  }
  60% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1) inset, 0 0 0 4px rgba(255, 0, 0, 0.1) inset, 0 0 0 6px rgba(255, 0, 0, 0.1) inset, 0 0 0 8px transparent inset, 0 0 0 10px transparent inset;
  }
  80% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1) inset, 0 0 0 4px rgba(255, 0, 0, 0.1) inset, 0 0 0 6px rgba(255, 0, 0, 0.1) inset, 0 0 0 8px rgba(255, 0, 0, 0.1) inset, 0 0 0 10px transparent inset;
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1) inset, 0 0 0 4px rgba(255, 0, 0, 0.1) inset, 0 0 0 6px rgba(255, 0, 0, 0.1) inset, 0 0 0 8px rgba(255, 0, 0, 0.1) inset, 0 0 0 10px rgba(255, 0, 0, 0.1) inset;
  }
}
@keyframes vr_focus {
  0% {
    box-shadow: 0 0 0 2px transparent inset, 0 0 0 4px transparent inset, 0 0 0 6px transparent inset, 0 0 0 8px transparent inset, 0 0 0 10px transparent inset;
  }
  20% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1) inset, 0 0 0 4px transparent inset, 0 0 0 6px transparent inset, 0 0 0 8px transparent inset, 0 0 0 10px transparent inset;
  }
  40% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1) inset, 0 0 0 4px rgba(255, 0, 0, 0.1) inset, 0 0 0 6px transparent inset, 0 0 0 8px transparent inset, 0 0 0 10px transparent inset;
  }
  60% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1) inset, 0 0 0 4px rgba(255, 0, 0, 0.1) inset, 0 0 0 6px rgba(255, 0, 0, 0.1) inset, 0 0 0 8px transparent inset, 0 0 0 10px transparent inset;
  }
  80% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1) inset, 0 0 0 4px rgba(255, 0, 0, 0.1) inset, 0 0 0 6px rgba(255, 0, 0, 0.1) inset, 0 0 0 8px rgba(255, 0, 0, 0.1) inset, 0 0 0 10px transparent inset;
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.1) inset, 0 0 0 4px rgba(255, 0, 0, 0.1) inset, 0 0 0 6px rgba(255, 0, 0, 0.1) inset, 0 0 0 8px rgba(255, 0, 0, 0.1) inset, 0 0 0 10px rgba(255, 0, 0, 0.1) inset;
  }
}
/* line 76, ../sass/vr.scss */
.drawmode-vr {
  position: relative;
  background-color: black;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 81, ../sass/vr.scss */
.drawmode-vr.vr-waiting:after {
  content: '正在等待遠端裝置';
  position: absolute;
  display: block;
  width: 11.6em;
  height: 2em;
  line-height: 1.8em;
  padding: 0.2em;
  text-align: center;
  background-color: black;
  color: white;
  left: 50%;
  top: 50%;
  margin-left: -5.8em;
  margin-top: -1em;
  box-sizing: border-box;
  letter-spacing: 0.2em;
  font-size: 24px;
}
/* line 99, ../sass/vr.scss */
.drawmode-vr.vr-waiting .vr-main {
  opacity: 0.6;
}

/* line 104, ../sass/vr.scss */
.vr-main {
  transition: opacity 0.2s ease-in;
}

/* line 107, ../sass/vr.scss */
.vr-focus {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -5px;
  margin-left: -5px;
  z-index: 20;
  color: white;
  text-align: center;
  line-height: 10px;
}
/* line 120, ../sass/vr.scss */
.vr-focus:after, .vr-focus:before {
  content: ' ';
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border: 1px solid transparent;
  border-radius: 100%;
}
/* line 130, ../sass/vr.scss */
.vr-focus:after {
  transition: all 0.2s cubic-bezier(0.5, 1, 0, 1);
}
/* line 133, ../sass/vr.scss */
.vr-focus:before {
  transition: all 0.2s cubic-bezier(0.5, 1, 0, 1) 0.1s;
}
/* line 136, ../sass/vr.scss */
.vr-focus.vr-no-arrow .vr-arrow {
  display: none;
}
/* line 139, ../sass/vr.scss */
.vr-focus .vr-arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid rgba(255, 255, 0, 0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -16px;
  animation: vr_arrow 1s infinite linear;
}
/* line 151, ../sass/vr.scss */
.draw-done .vr-focus .vr-arrow {
  display: none;
}
/* line 154, ../sass/vr.scss */
.vr-focus .vr-arrow:before, .vr-focus .vr-arrow:after {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid rgba(255, 255, 0, 0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4px;
}
/* line 165, ../sass/vr.scss */
.vr-focus .vr-arrow:before {
  margin-top: -4.8px;
  transform: scale(0.8);
  animation: vr_arrow2 1s infinite linear;
}
/* line 170, ../sass/vr.scss */
.vr-focus .vr-arrow:after {
  margin-top: -8.8px;
  transform: scale(0.5);
  animation: vr_arrow3 1s infinite linear;
}
/* line 176, ../sass/vr.scss */
.vr-focus.vr-focusing {
  border-color: rgba(255, 0, 0, 0.6);
  animation: vr_focus 0.3s forwards 1;
}
/* line 179, ../sass/vr.scss */
.vr-focus.vr-focusing:after {
  border-color: yellow;
  transform: scale(0.4);
}
/* line 183, ../sass/vr.scss */
.vr-focus.vr-focusing:before {
  border-color: orange;
  transform: scale(0.5);
}
/* line 187, ../sass/vr.scss */
.vr-focus.vr-focusing .vr-arrow {
  display: none;
}

/* line 192, ../sass/vr.scss */
.vr-digits {
  position: absolute;
  width: 100%;
  text-align: center;
  right: 0;
  top: 60%;
  transform: scale(0.5);
  z-index: 10;
  padding: 2px;
  perspective: 100px;
}
/* line 201, ../sass/vr.scss */
.draw-done .vr-digits {
  display: none;
}
/* line 204, ../sass/vr.scss */
.vr-digits .vr-digit {
  display: inline-block;
  font-family: "Fredoka One",cursive;
  transition: all 0.3s;
  opacity: 0.6;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.6);
  margin: 3px;
  border-radius: 12px;
  border: 2px solid brown;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6) inset, 0 0 0 3px brown inset;
  text-align: center;
  color: #666;
}
@media screen and (min-width: 800px) {
  /* line 204, ../sass/vr.scss */
  .vr-digits .vr-digit {
    width: 64px;
    height: 89.6px;
    font-size: 64px;
    line-height: 89.6px;
  }
}
@media screen and (max-width: 799px) {
  /* line 204, ../sass/vr.scss */
  .vr-digits .vr-digit {
    width: 12vmin;
    height: 16.8vmin;
    font-size: 12vmin;
    line-height: 16.8vmin;
  }
}
/* line 231, ../sass/vr.scss */
.vr-digits .vr-digit.active {
  opacity: 1;
  background-color: gold;
  color: black;
  text-shadow: 0 -2px 0 white;
  box-shadow: 0 0 0 2px rgba(255, 255, 0, 0.6) inset, 0 0 0 3px brown inset;
}

/* line 243, ../sass/vr.scss */
.vr-dual {
  transition: opacity 0.3s ease-in;
  position: fixed;
  top: 0;
}
/* line 247, ../sass/vr.scss */
.vr-dual.vr-dual-left {
  left: 0;
}
/* line 250, ../sass/vr.scss */
.vr-dual.vr-dual-right {
  right: 0;
}

/* line 254, ../sass/vr.scss */
.vr-cleared {
  background: black;
}
/* line 256, ../sass/vr.scss */
.vr-cleared .vr-dual {
  opacity: 0.5;
}

@-webkit-keyframes vr_result {
  0%,80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes vr_result {
  0%,80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 9, ../sass/vr.mobile.scss */
.drawmode-vr {
  position: relative;
}
/* line 11, ../sass/vr.mobile.scss */
.drawmode-vr .vr-main {
  background-image: url(../images/vr_bg.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 16, ../sass/vr.mobile.scss */
.drawmode-vr .vr-main canvas, .drawmode-vr .vr-main .vr-focus {
  display: none;
}
/* line 18, ../sass/vr.mobile.scss */
.vring .drawmode-vr .vr-main canvas, .vring .drawmode-vr .vr-main .vr-focus {
  display: block;
}
/* line 22, ../sass/vr.mobile.scss */
.drawmode-vr .vr-main:after {
  content: '目前位於 VR 模式下，\A調整眼鏡上方旋鈕\A可以讓畫面更加清楚';
  display: block;
  background: white;
  padding: 0.5em;
  box-sizing: border-box;
  position: absolute;
  color: black;
  line-height: 1.4em;
  text-align: left;
  font-size: 1vmin;
  right: 15%;
  bottom: 25%;
  width: 40%;
}
/* line 35, ../sass/vr.mobile.scss */
.vring .drawmode-vr .vr-main:after {
  display: none;
}

/* line 41, ../sass/vr.mobile.scss */
.vr-result {
  position: absolute;
  z-index: 30;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  box-sizing: border-box;
  width: 40vmin;
  left: calc(50% - 20vmin);
  top: 40%;
  line-height: 6vmin;
  text-shadow: 0 0 10px black;
  animation: vr_result 3s 1 forwards;
}
/* line 57, ../sass/vr.mobile.scss */
.vr-result.inactive {
  display: none;
  animation: none;
}
/* line 61, ../sass/vr.mobile.scss */
.vr-result .drawmode-group {
  font-size: 5vmin;
}
/* line 64, ../sass/vr.mobile.scss */
.vr-result .drawmode-name, .vr-result .drawmode-sn {
  font-size: 5vmin;
  text-shadow: none;
}
